<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <stripeinstantcheckout>
                <debug>1</debug>
                <active>1</active>
                <model>Stripeofficial\InstantCheckout\Model\Payment\InstantCheckout</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Stripe Instant Checkout</title>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_review_payment>1</can_review_payment>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <ajax_timeout>5</ajax_timeout>
                <debugReplaceKeys>MERCHANT_KEY</debugReplaceKeys>
                <paymentInfoKeys>FRAUD_MSG_LIST</paymentInfoKeys>
                <privateInfoKeys>FRAUD_MSG_LIST</privateInfoKeys>
            </stripeinstantcheckout>
        </payment>
    </default>
</config>
